/* colors  {
  #91a5fc
  #5175ff
  #f5f5f5
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
body{
  background: #f5f5f5;
}

ol, ul {
  list-style: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.3s ease;
}
h1{
  font-size: 36px;
  color:#91a5fc;
  font-weight: 700;

  

}



h3{
  font-size: 62px;
  color:black;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
header{
  background-color: black;
  display: flex;
  width: 100%;
  padding: 25px;

}
header div{
  width: 50%;
  display: flex;
  align-items: center;

}
header div + div{
  justify-content: center;
}
header nav ul{
  display: flex;
  gap: 80px;
}
header nav ul li{
  color: #f5f5f5;
  font-size: 22px;
  font-weight: 700;
}
header nav ul li a{
  position: relative;
}
header nav ul li a:after{
  content: ''; 
  position: absolute; 
  left: 0; 
  bottom: -5px; 
  height: 5px; 
  width: 0; 
  background-color: #5175ff;
}

header nav ul li a:hover:after{
  width: 100%;
}
.mobile-menu{
  display: none;
  cursor: pointer;

}
.mobile-menu div{
  width: 32px;
  height: 2px;
  background: white;
  margin: 4px;
  transition: 0.3s;
}

.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
  opacity: 0;
}
.mobile-menu.active .line3{
  transform: rotate(45deg) translate(-5px, -7px);
}
.nav-list-mobile{
  display: none;
  position: relative;
  background: black;
  width: 100%;
  transition: 0.3s ease-in;
  z-index: 11;
}
.nav-list-mobile.active{
  display: block;
}


@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width:999px){

  .nav-list-mobile{
    position: absolute;
    top: 8vh;
    left: 0;
  }
  .nav-list-mobile nav ul{
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 0px;
  }
  .nav-list-mobile nav ul li{
    opacity: 0;
  }
  header nav ul li a:hover:after{
    width: 0%;
  }
  .nav-links{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
  }
  .nav-links:hover{
    background: #5175ff;
  }
  .nav-list-desktop{
    display: none;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}



/* ABOUT ME SECTION */

.about-me{
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-me h2{
    font-size: 54px;
    color:black;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    background: transparent;
  
  }
.about-me h2::after{
  
    content: ''; 
    position: absolute; 
    left: 50%;
    bottom: -3px; 
    height: 25px; 
    width: 113%; 
    background-color: #91a5fc;
    z-index: -1;
    transform: translateX(-50%);
  }


.about-me p{
  font-size: 25px;
  color:black;
  font-weight: 500;
  max-width: 1220px;
  text-align: justify;
}


/* FOOOTER */

footer{
  display: flex;
  background-color: black;
  width: 100%;
  padding: 80px 20px 40px 80px;
}

footer div{
  width: 33%;
  display: flex;
  

}

footer h2{
  font-size: 54px;
  color:#f5f5f5;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  background: transparent;
}

footer h2::after{
  content: ''; 
  position: absolute; 
  left: 50%;
  bottom: 2px; 
  height: 20px; 
  width: 113%; 
  background-color: #5175ff;
  z-index: -1;
  transform: translateX(-50%);
}

footer p{
  color: #f5f5f5;
}

footer i {
  color: #f5f5f5;
}

.contact{
  align-items: start;
}
.icons{
  flex-direction: column;
  gap: 40px;
  height: 400px;
  justify-content: end;
  align-items: center;
}

.icons nav ul{
  display: flex;
  gap:60px

}

.icons p{
  font-weight: 600;
  font-size:18px;
}


.means-of-contact{
  flex-direction: column;
  align-items: center;
}